---
title: "Hakkımızda"
layout: default
permalink: "/hakkimizda"
comments: false
---

<div class="container">
    <h4 class="font-weight-bold spanborder"><span>{{ page.title }}</span></h4>
    
    <!-- Buraya eklemek istediğiniz metni ekleyebilirsiniz -->
    <div class="about-us-introduction mt-4 mb-4">
        <p>Nexusvis, 2025 yılında kuruldu ve hızla gelişen sektörümüzde güçlü bir yer edinmeye başladı. Ekibimiz, sektörde uzun yıllar boyunca kazandığı deneyimle, farklı alanlardaki uzmanlıkları bir araya getirerek büyük bir sinerji oluşturuyor. Aslında, bizim için "yeni" olmak, sadece yeni bir araya gelmemiz anlamına geliyor; çünkü ekibimiz, her biri alanında yıllarca deneyim kazanmış profesyonellerden oluşuyor.</p>
        <p>Nexusvis olarak, müşterilerimize en yenilikçi ve kaliteli hizmeti sunmayı hedefliyoruz. Sadece yeni bir ekip değil, güçlü bir geçmişe sahip, farklı bakış açılarına ve çözümlere sahip bir ekip olarak, sektörümüzdeki değişimlere hızla adapte olabiliyoruz. Bu sayede, müşterilerimizin ihtiyaçlarına özel çözümler üretirken, onlara değer katmayı amaçlıyoruz.</p>
        <p>Vizyonumuz, sektördeki lider firmalarla aynı seviyede, hatta onları geride bırakacak yenilikçi ve sürdürülebilir çözümler geliştirmektir. Güçlü işbirliklerimiz ve sağlam temellerimizle, sektördeki en yüksek standartları yakalayarak müşteri memnuniyetini her zaman ön planda tutuyoruz.</p>
    </div>

    <h4 class="font-weight-bold spanborder"><span>Ekip</span></h4>
    
    <div class="row gap-y listrecent listrecent listauthor">
        {% for member in site.team %}
            <div class="col-lg-3 mb-5">
                <div class="p-4 border rounded team-member-card">
                    <div class="row">
                        <a href="{{ member.url }}">
                            <div class="col-md-12 d-flex justify-content-between mb-4 mb-md-1">
                                <img alt="{{ member.title }}" src="{{ site.baseurl }}{{ member.image }}" class="rounded-circle">
                            </div>
                            <div class="col-md-12">
                                <h4 class="text-dark mb-0 justify-content-center text-center">{{ member.title }}</h4>
                            </div>
                        </a>
                        <div class="icon-block mt-3 d-flex justify-content-center">  
                            <div>
                                {% if member.twitter %}    
                                <a target="_blank" href="{{ member.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                                {% endif %}
                                {% if member.facebook %} 
                                <a target="_blank" href="{{ member.facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a>  &nbsp;
                                {% endif %}
                                {% if member.youtube %} 
                                <a target="_blank" href="{{ member.youtube }}"><i class="fab fa-youtube text-muted" aria-hidden="true"></i></a>  &nbsp;
                                {% endif %}
                                {% if member.instagram %} 
                                <a target="_blank" href="{{ member.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;
                                {% endif %}
                                {% if member.site %} 
                                <a target="_blank" href="{{ member.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-overlay">
                            <p>{{ member.position }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<style>
    .team-member-card {
        position: relative;
        height: 400px; /* Sabit bir yükseklik belirleyin */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .team-member-card img {
        max-width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .team-member-card:hover img {
        opacity: 0.5;
    }

    .team-member-card .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        z-index: 1; /* Overlay'in kartın üzerindeki içeriği kaplamasını sağlar */
    }

    .team-member-card:hover .card-overlay {
        opacity: 1;
    }

    .team-member-card .icon-block {
        margin-top: auto; /* Sosyal medya ikonlarını en alta itmek için */
        display: flex;
        justify-content: center; /* Sosyal medya ikonlarını yatayda ortalar */
        
    }

    .team-member-card .icon-block a {
        margin: 0 5px; /* İkonlar arasındaki boşluğu ayarlar */
    }
</style>