<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/">Ana Sayfa</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hakkimizda">Şirketimiz ve Ekip</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/referanslarimiz">Referanslar</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/magaza">Mağaza</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/blog">Blog</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact">İletişim</a>
</li>