<!--  Replace social media links here -->
{%if site.facebook%}
<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.facebook}}"><span
            class="fab fa-facebook-square fa-2x"></span></a>
</li>
{% endif %}

{%if site.twitter%}
<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.twitter}}"><span
            class="fab fa-twitter-square fa-2x"></span></a>
</li>
{% endif %}

{%if site.instagram%}
<a class="nav-link" target="_blank" href="{{site.instagram}}">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg" alt="Instagram" width="32">
</a>


    
   
    

</li>
{% endif %}

{% if site.youtube %}
<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.youtube}}"><span
            class="fab fa-youtube-square fa-2x"></span></a>
</li>
{% endif %}

{% if site.telegram %}
<li class="nav-item p-1">
    <a class="nav-link" style="display: inline !important;" target="_blank" href="{{site.telegram}}"><span
            class="fab fa-brands fa-telegram fa-2x"></span></a>
</li>
{% endif %}