<div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Misyonumuz</h4>
      </div>
      <div class="card-body">
        <br>
        <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-small mh-3" src="/assets/images/Digitalisation.png"></image></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Misyonumuz, markaların dijital dünyada kendilerini en yalın, en etkili şekilde ifade edebilmeleri için yaratıcı ve stratejik çözümler sunmaktır. Müşterilerimize özel, fark yaratan dijital deneyimler oluşturuyoruz.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Vizyonumuz</h4>
      </div>
      <div class="card-body">
        <br>
        <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-fluid mh-3" src="/assets/images/Representation.png"></image></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Vizyonumuz, dijital pazarlama dünyasında inovasyonun ve etkili iletişimin öncüsü olmaktır. Markalara, hedeflerine en hızlı ve etkili şekilde ulaşmaları için yeni nesil çözümler sunan güvenilir bir ortak olmayı hedefliyoruz.</li>
        </ul>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Değerlerimiz</h4>
      </div>
      <div class="card-body">
        <br>
        <h1 class="card-title pricing-card-title"><image style="max-height: 10vh;" class="img img-fluid mh-3" src="/assets/images/Translation.png"></image></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Değerlerimiz, samimiyet, yenilikçilik ve müşteri odaklılık üzerine kurulu. Müşterilerimizin ihtiyaçlarını derinlemesine anlamak, en özgün çözümleri sunmak ve sürdürülebilir ilişkiler kurmak en önemli önceliklerimiz arasında yer alıyor.</li>
        </ul>
      </div>
    </div>


  </div>