  <div class="row justify-content-center">
    <!-- Misyon Kartı -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card shadow-lg border-0 rounded-xl">
        <div class="card-body text-center">
          <!-- Misyon İkonu -->
          <i class="fas fa-globe fa-3x mb-4 text-primary"></i>
          <h5 class="card-title text-dark mb-3">Misyonumuz</h5>
          <p class="card-text text-muted">Misyonumuz, markaların dijital dünyada kendilerini en yalın, en etkili şekilde ifade edebilmeleri için yaratıcı ve stratejik çözümler sunmaktır. Müşterilerimize özel, fark yaratan dijital deneyimler oluşturuyoruz.</p>
        </div>
      </div>
    </div>

    <!-- Vizyon Kartı -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card shadow-lg border-0 rounded-xl">
        <div class="card-body text-center">
          <!-- Vizyon İkonu -->
          <i class="fas fa-binoculars fa-3x mb-4 text-primary"></i>
          <h5 class="card-title text-dark mb-3">Vizyonumuz</h5>
          <p class="card-text text-muted">Vizyonumuz, dijital pazarlama dünyasında inovasyonun ve etkili iletişimin öncüsü olmaktır. Markalara, hedeflerine en hızlı ve etkili şekilde ulaşmaları için yeni nesil çözümler sunan güvenilir bir ortak olmayı hedefliyoruz</p>
        </div>
      </div>
    </div>

    <!-- Değerler Kartı -->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card shadow-lg border-0 rounded-xl">
        <div class="card-body text-center">
          <!-- Değerler İkonu -->
          <i class="fas fa-gem fa-3x mb-4 text-primary"></i>
          <h5 class="card-title text-dark mb-3">Değerlerimiz</h5>
          <p class="card-text text-muted">Değerlerimiz, samimiyet, yenilikçilik ve müşteri odaklılık üzerine kurulu. Müşterilerimizin ihtiyaçlarını derinlemesine anlamak, en özgün çözümleri sunmak ve sürdürülebilir ilişkiler kurmak en önemli önceliklerimiz arasında yer alıyor.</p>
        </div>
      </div>
    </div>
  </div>
</div>
