---
layout: default
---
{% assign translator = page %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row {% if translator.image %} justify-content-between {% else %} justify-content-center {% endif %}">
				
				{% if translator.image %}
				<div class="col-md-3 pr-0 align-self-center">
					<img class="rounded-circle" src="{% if page.image contains "://" %}{{ translator.image }}{% else %}{{ site.baseurl }}/{{ translator.image }}{% endif %}" alt="{{ page.title }}">
				</div>
                {% endif %}

				<div class="{% if translator.image %} col-md-9 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
                        <span class="catlist">
						{% for tag in translator.tags %}
                          <a class="sscroll text-danger" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag | downcase }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ translator.title }}</h1>
					<div class="align-items-center">
						
							<!-- <h6 class="text-muted d-block mt-1">{{ translator.date | date: '%d.%m.%Y' }} · {% include meta-read-time.html %}</h6> -->
							<h6 class="text-muted d-block mt-1">{% include meta-read-time.html %}</h6>

						<div class="icon-block mt-3 justify-content-center">  
							<div>
							<a target="_blank" href="{{ translator.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
							<a target="_blank" href="{{ translator.facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a>  &nbsp;
							<a target="_blank" href="{{ translator.youtube }}"><i class="fab fa-youtube text-muted" aria-hidden="true"></i></a>  &nbsp;
							<a target="_blank" href="{{ translator.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;
							<a target="_blank" href="{{ translator.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        
		<div class="col-md-12">
            
            <!-- Article -->
			<article class="article-post">                
			{{ content }}                
			</article>
			
           
			<h4 class="font-weight-bold spanborder"><span>Books by {{translator.title}}</span></h4>
			<div class="row mb-3">
				{% for book in site.books %}
					{% if book.translators contains translator.key %}
						{% include main-loop-book.html %}
					{%endif %}
				{% endfor %}
			</div>

			 <!-- Mailchimp Subscribe Form -->
			 {% if site.mailchimp-list %}
			 <div class="border p-5 bg-lightblue">
				 <div class="row justify-content-between">
					 <div class="col-md-6 mb-2 mb-md-0">
						 <h5 class="font-weight-bold">Join Newsletter</h5>
						  Get the latest news right in your inbox. We never spam!
					 </div>
					 <div class="col-md-6">
						 <div class="row">
							 <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate w-100" target="_blank" novalidate>
							 <div class="mc-field-group">
							 
								 <input type="email" placeholder="Enter e-mail address" name="EMAIL" class="required email form-control w-100" id="mce-EMAIL" autocomplete="on" required>
							 
							 
								 <button type="submit" value="Subscribe" name="subscribe" class="heart btn btn-success btn-block w-100 mt-2">Subscribe</button>
							 
							 </div>
							 </form>
						 </div>
					 </div>
				 </div>
			 </div>
			 {% endif %}
            
            
		</div>
        
        
	</div>
</div>


<!-- Aletbar Prev/Next -->
<div class="alertbar">
    <div class="container">
        <div class="row prevnextlinks small font-weight-bold">
          {% if translator.previous.url %}
            <div class="col-md-6 rightborder pl-0">
                <a class="text-dark" href="{{ site.baseurl }}{{ translator.previous.url }}">{% if translator.previous.image %} <img height="30px" class="mr-1" src="{{site.baseurl}}/{{translator.previous.image}}"> {% endif %} {{translator.previous.title}}</a>
            </div>
          {% endif %}
          {% if translator.next.url %}
            <div class="col-md-6 text-right pr-0">
                <a class="text-dark" href="{{ site.baseurl }}{{ translator.next.url }}"> {{translator.next.title}} {% if translator.next.image %} <img height="30px" class="ml-1" src="{{site.baseurl}}/{{translator.next.image}}"> {% endif %}</a>
            </div>
          {% endif %}
        </div>
    </div>
</div>
